/* colors */
:root {
  --main-background-color: #241739;
  --second-background-color: #180b2e;
  --main-text-color: #FCFCFC;
  --second-text-color: #FFFFFF;

  --hovered-link-color: #6a6383;
  --focused-link-color: #653b58;
}

* {
  color: var(--main-text-color);
  font-family: 'Lora', serif;
}

/* TYPOGRAPHY */

.medium-copy {
  font-size: 24px;
  line-height: 1.5;
}

.body-copy {
  font-size: 18px;
  line-height: 1.7;
}

.small-copy {
  font-size: 14px;
  line-height: 1.6;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  background-color: var(--main-background-color);
}

.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

.bg-nav {
  background-color: var(--main-background-color);
}

/* navbar */
#navbar-links {
  background-color: var(--hovered-link-color);
  transition: .2s linear;
  transform: translateX(0%);
}

#navbar-links > a {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-decoration: none;
  color: var(--main-text-color);
  transition: all 0.15s;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.nav-icon {
  padding-right: 10px;
  width: 32px;
  height: 32px;
}

.nav-link {
  text-decoration: none;
  display: block;
  opacity: .8;
  transition: .1s;
}
.quote-svg {
  margin-left: 2px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 768px) {
  #navbar-links {
    background-color: var(--second-background-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  #nav-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    opacity: .95;
  }
}


@media only screen and (min-width: 769px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #navbar-links {
    z-index: 3;
    opacity: 0.95;
  }
}

.nav-link:hover {
  opacity: 1;
}


.navbar-link:hover {
  background-color: var(--main-background-color);
}

#navbar-links > a:hover {
  background-color: var(--second-background-color);
}

#navbar-links > a:focus {
  background-color: var(--focused-link-color);
}

#navbar-open, #navbar-close {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  background: none;

}

#navbar-open:focus, #navbar-close:focus {
  outline: none;
}

#title {
  margin-right: 20px;
}

.rating {
  opacity: .7;
  transition: .1s;
  cursor: pointer;
}

.rating:hover {
  opacity: 1;
}

#navbar-open > svg, #navbar-close > svg {
  fill: var(--main-text-color);
  width: 48px;
  height: auto;
}

.quote {
  background-color: var(--main-text-color);
  border-radius: 10px;
  cursor: default;
}

.quote-img {
  margin-right: 20px;
}

.blockquote {
  color: var(--second-background-color)!important;
  font-style: italic;
}

#main-section::before {
  position: absolute;
  content: '';
  background-image: url('/assets/doodle/mountains.svg');
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
}

#main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  background-color: var(--second-background-color);
}

#location-section {
  position: relative;
  background: var(--second-background-color) 0% 0% no-repeat padding-box;
}

#location-section > div {
  padding-top: 5rem;
}


hr.rounded {
  border-top: 5px solid var(--main-text-color);
  border-radius: 5px;
}

.social-link {
  text-decoration: none;
}

#footer {
  background-color: var(--second-background-color);
}

.g-photo, .p-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.g-photo:hover {
  opacity: .7;
}

.p-photo {
  border: 2px solid var(--second-text-color);
  border-radius: 5px;
  cursor: default;
}

#gallery-section {
  position: relative;
  opacity: 1;
}

#gallery-modal {
  position: fixed;
  opacity: 0;
  background-color: var(--second-background-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal-image {
  width: 100%;
  max-height: 100%;
  transition: .5s;
  object-fit: cover;
}

#close-modal, #prev-image, #next-image {
  cursor: pointer;
  fill: var(--main-text-color);
}

#prev-image {
  transform: rotateY(180deg);
}

#image-column {
  height: 100%;
}

#close-modal, #prev-image, #next-image {
  position: fixed;
}

#close-modal {
  right: 5px;
  top: 5px;
}

#prev-image {
  left: 5px;
  top: 45vh;
}

#next-image {
  right: 5px;
  top: 45vh;
}

#image-modal {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#about-us {
  position: relative;
  padding-bottom: 13rem;
}

#photo-section {
  background-color: var(--second-background-color);
}

#first-photo, #second-photo, #third-photo, .t-card {
  position: relative;
}

#first-photo::before, #second-photo::before, #third-photo::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: skewY(7deg);
}

.home-photo-text {
  padding: 15% 0px 15% 0px;
}

.t-card::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/images/map.png');
}

#first-photo::before {
  background-image: url('/assets/images/hero-img.jpeg');
}

#second-photo::before {
  background-image: url('/assets/images/nature-6.jpeg');
}

#third-photo::before {
  background-image: url('/assets/images/igloo-8.jpeg');
}


#about-us::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-image: url('/assets/images/aboutus.jpeg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .4;
  border-right: 100vw solid transparent;
  border-bottom: 6rem solid var(--main-background-color);

}

.f-card {
  background-color: var(--main-background-color);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  transition: .3s;
  opacity: .9;
  transform: scale(1);
  cursor: default;
}

.f-card:hover {
  opacity: 1;
  transform: scale(1.01);
}

.a-link {
  text-decoration: none;
  cursor: pointer!important;
}

.social-link > svg {
  opacity: .8;
  transform: scale(1);
  transition: .2s;
}
.social-link > svg:hover {
  opacity: 1;
  transform: scale(1.05);
}

.f-doodle {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

#f-first-section, #f-second-section {
  background-color: var(--second-background-color);
}

#f-first-section, #f-second-section {
  position: relative;
}

#f-first-section::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .25;
  background-repeat: no-repeat;
  background-image: url('assets/images/nature-1.jpeg');
  background-size: cover;
  background-attachment: fixed;
  opacity: .3;
  border-right: 100vw solid transparent;
  border-bottom: 6rem solid var(--second-background-color);
}

.h-diff, .m-diff, .l-diff {
  position: relative;
}

.h-diff::before, .m-diff::before, .l-diff::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  opacity: .3;
}

.h-diff::before {
  background-color: red;
}

.m-diff::before {
  background-color: blue;
}

.l-diff::before {
  background-color: green;
}

#mountain-trails-section {
  position: relative;
  min-height: 500px;
  opacity: .95;
  transition: .2s;
  transform: scale(1);
  text-decoration: none;
}

#mountain-trails-section:hover {
  opacity: 1;
  transform: scale(1.01);
}

#mountain-trails-section::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/map.png');
  opacity: 1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.section-title {
  position: relative;
  padding: 50px;
}

.section-title::before {
  position: absolute;
  background-color: var(--second-background-color);
  opacity: .3;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.arrow {
  transform: rotateZ(-90deg);
  margin-left: 10px;
  margin-right: 10px;
}

#o-first-section, #g-first-section, #g-third-section, #a-first-section, #a-second-section {
  background-color: var(--second-background-color);
}